/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: linear-gradient(0deg, rgba(138,170,217,255) 0%, rgba(39, 193, 204, 0.527) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;

    /* blue text with white outline */
    color: rgb(39, 193, 204);
    -webkit-text-stroke: 2px white;
}

/* This adds a headliner quote below the main heading */
.headliner {
    text-align: right;
    font-size:80%;
    text-transform:capitalize;
    letter-spacing: 3px;
    padding: 12px;
    float:right;
    background: rgba(118, 167, 196, 0.7);
    color: gold;
    border: 5px white;
    border-style: solid none none none; 
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* images in the paragraphs - in section content */
/* odd numbered sections */
.paraImagesOdd {
    float: left;
    margin-right: 20px;
    width: 60%;
}

/* odd numbered sections */
.paraImagesEven {
    float: right;
    margin-left: 20px;
    width: 60%;
}

/* contains the logo & logoCaption - reverses order of paragraph and image */
#backToTop {
    display: flex;
    flex-direction: column-reverse;
}

/* back to top button */
#logo {
    border: 3px solid white;
    border-radius: 40px 40px 40px 40px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 20px;
    background: white;
    width: 6.5em;
}

/* back to top button - hover */
#logo:hover {
    border: 3px solid rgb(39, 193, 204);
    border-radius: 40px 40px 40px 40px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 20px;
    width: 6.5em;
}

/* for back to top button logo caption */
#logoCaption {
    margin-left: 25px;
}

/* ---- Layout Rules ---- */
/* this is the main body - area visible right below the navbar */
main {
    /* margin: space on top, space on sides, space on bottom above footer */
    margin: 5vh 0em 10vh;
    border: 1px solid transparent;
    background-image: url("images/telephone-sneaks.jpg");
    background-repeat: repeat-x;
    background-size: 600px, 3vw;
}

/* this is the main title of the page */
.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

/* this is for placement of each section on the page */
section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles */
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: rgb(39, 193, 204);
    color: #fff;

    /* slightly slower transition than starter code */
    transition: ease 0.6s all;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

/* for every even numbered paragraph */
section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
/* Floating shape 1 */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 60px 20px;
    opacity: 0;
    transition: ease 0.5s all;
    background-image: url("images/neon-bolts2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* floating shape - top right of even sections */
section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;

    /* neon alien with green border */
    border: 2px solid green;
    background-image: url("images/neon-alien.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* floating shape - bottom right of 3rd section */
section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
    border: 2px solid red;

     /* neon alien with red border */
    background-image: url("images/neon-alien.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Floating shape 2 */
section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 20%;
    opacity: 0;
    transition: ease 0.5s all;
    /* border: 2px solid orange; */
    background-image: url("images/neon-planet-2.png");
    background-size: contain;
    background-repeat: no-repeat;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

/* shifts active section to the left/right when scrolling to section */
@keyframes mymove {
    0%   {background-color:rgba(0, 0, 0, 0.1) 0%; left:0px; top:0px;}
    50%  {background-color:rgba(0, 0, 0, 0) 100%; left:20px; top:0px;}
    100% {background-color:rgba(0, 0, 0, 0.1) 0%; left:0px; top:0px;}
}

/* floating shape 1 - opacity, speed, and direction */
section.your-active-class .landing__container::before {
    opacity: 0.5;
    animation: rotate 4s linear 0s infinite forwards;
}

/* floating shape 2 - opacity, speed, and direction */
section.your-active-class .landing__container::after {
    opacity: 0.5;
    animation: rotate 3s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}
